:root {
    /* font-size */
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-25: 25px;
    --fs-30: 30px;
    --fs-50: 50px;
    --fs-70: 70px;
    /* font-weigth */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    /* color */
    --text-white: #FFFFFF;
    --text-gray: #B2C5D1;
    --text-drkblue: #001D49;
}



.logo-nav {
    font-size: var(--fs-22);
    font-weight: var(--fw-600);
    color: var(--text-white);
}

.font-nav-ul {
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
    color: var(--text-white);
}

.nav-h {
    font-size: var(--fs-70);
    font-weight: var(--fw-400);
    color: var(--text-white);
}

.nav-h1 {
    font-size: var(--fs-70);
    font-weight: var(--fw-700);
    color: var(--text-white);
}

.nav-p {
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
    color: var(--text-gray);
}

.nav-btn {
    font-size: var(--fs-25);
    font-weight: var(--fw-500);
    color: var(--text-drkblue);
}

.sec-1h {
    font-size: var(--fs-50);
    font-weight: var(--fw-600);
    color: var(--text-white);
}

.sec-1p {
    font-size: var(--fs-30);
    font-weight: var(--fw-500);
    color: var(--text-white);
}

.sec-1pp {
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
    color: var(--text-gray);
}

.sec-1-btn {
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    color: var(--text-drkblue);
}

.sec-2h {
    font-size: var(--fs-30);
    font-weight: var(--fw-600);
    color: var(--text-white);
}

.sec-2p {
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    color: var(--text-gray);
}

.sec-2p1 {
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    color: var(--text-gray);
}


.sec-3h {
    font-size: var(--fs-50);
    font-weight: var(--fw-600);
    color: var(--text-white);
}

.sec-3h1 {
    font-size: var(--fs-30);
    font-weight: var(--fw-600);
    color: var(--text-white);
}

.sec-3p {
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
    color: var(--text-gray);
}

.sec-3p1 {
    font-size: var(--fs-30);
    font-weight: var(--fw-500);
    color: var(--text-white);
}

.sec-4h {
    font-size: var(--fs-50);
    font-weight: var(--fw-600);
    color: var(--text-white);
}

.sec-6h {
    font-size: var(--fs-50);
    font-weight: var(--fw-600);
    color: var(--text-white);
}

.sec-6p {
    font-size: var(--fs-30);
    font-weight: var(--fw-600);
    color: var(--text-white);
}

.sec-6p1 {
    font-size: var(--fs-18);
    font-weight: var(--fw-400);
    color: var(--text-white);
}

.sec-7h {
    font-size: var(--fs-50);
    font-weight: var(--fw-600);
    color: var(--text-white);
}

.f-h {
    font-size: var(--fs-30);
    font-weight: var(--fw-500);
    color: var(--text-white);
}

.f-p {
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
    color: var(--text-gray);
}

.f-p1 {
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
    color: var(--text-gray);
}

.f-p2 {
    font-size: var(--fs-14);
    font-weight: var(--fw-400);
    color: var(--text-gray);
}

.f-h1 {
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    color: var(--text-white);
}

.acc-h {
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
    color: var(--text-white);
}

.acc-p {
    font-size: var(--fs-16);
    font-weight: var(--fw-600);
    color: var(--text-gray);
}

@media (max-width: 992px) {

    .sec-2h {
        font-size: var(--fs-25);
        font-weight: var(--fw-500);
        color: var(--text-white);
    }

    .sec-2p {
        font-size: var(--fs-14);
        font-weight: var(--fw-400);
        color: var(--text-gray);
    }

    .sec-2p1 {
        font-size: var(--fs-14);
        font-weight: var(--fw-400);
        color: var(--text-gray);
    }
}